@tailwind base;
@tailwind components;
@tailwind utilities;

  
  .selected-reason {
    background-color: #90cdf4; /* Change to desired background color */
  }
  
  .not-selected-reason:hover {
    background-color: #edf2f7; /* Change to desired hover background color */
  }
  
  .selected-reason:focus,
  .not-selected-reason:focus {
    outline: 2px solid #4299e1; /* Change to desired focus outline color and thickness */
  }
  